/*Überschriften*/
h1, body {
  color: darkslategrey;
  background-color: lavender;
  margin-left: 200px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}


/*Texte*/



/*Alle HTML ELemnte bekommen diesen style:*/
* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
}