/*Überschriften*/
h1,
body {
  color: darkslategrey;
  background-color: lavender;
  margin-left: 200px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* /**Beispiel für Gruppierung*/
/* p,
div,
li {
  font-weight: bold;
} */

/**Beispiel für Verschachtelung*/
/* p b {
  color: #02d92f;
} */

/*Beispiel für Sammeleigenschaften*/
/* div {
  border: 2px solid #ff0000;
} */





/*Alle HTML ELemnte bekommen diesen style:*/
* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
}